---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
IndentPPDirectives: AfterHash

ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakTemplateDeclarations: true

# Alignment
PointerAlignment: Right
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlinesLeft: true
AlignOperands: true
BinPackParameters: false
