---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4

ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakTemplateDeclarations: true
BreakAfterAttributes: Always

# Short statements
AllowShortFunctionsOnASingleLine: Empty

# Alignments
IndentPPDirectives: AfterHash
PointerAlignment: Right
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BinPackParameters: false
